
@{
    ViewBag.Title = "Заявка была отправлена на рассмотрение";
}

<h2>Спасибо!</h2>
<p>Спасибо за выбор нашего сервича. В ближайшее время ваша заявка будет рассмотрена. Ожидайте ответа на электронную почту, которую вы указали.</p>

